nav {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: black;
  color: white;
}

nav input {
  width: 270px;
  height: 30px;
  padding: 0 10px;
  margin: 0 10px;
  border: 0;
  border-radius: 30px;
}

nav button {
  width: 70px;
  height: 25px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
}
