table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

thead th {
  border: 1px solid #bbbbbb;
}

thead th:first-child {
  width: 320px;
}

tr td:first-child {
  padding: 0 10px;
}

td {
  border: 1px solid #bbbbbb;
}

td:last-child {
  border: 0;
}

.btn--sort {
  width: 30px;
  height: 30px;
  border: 0;
}

.sort-icon {
  width: 25px;
  vertical-align: middle;
}

.btn--trash {
  width: 40px;
  height: 40px;
  border: 0;
  vertical-align: middle;
}

.trash-icon {
  width: 25px;
}
